{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="content-container">
            <h2 class="text-center mb-4">Update Room</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {% render_field form.category class="form-control" %}
                    <label for="floatingInput">Category</label>
                </div>
                <div class="form-floating mb-3">
                    {% render_field form.name class="form-control" %}
                    <label for="floatingInput">Room name</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-12">
      <div class="content-container">
        <h2 class="text-center mb-4">Room List</h2>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="table-light">
              <tr class="text-center">
                <th scope="col">Categroy</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for r in room %}
              <tr class="text-center">
                <td>{{r.category}}</td>
                <td>{{r.name}}</td>
                {% if r.is_available %}
                <td><span class="badge bg-primary">Available</span></td>
                {% else %}
                <td><span class="badge bg-warning">Occupied</span></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>


{% endblock content %}